@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Light-WebM.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-SemiBold-WebM.woff") format("woff");
  font-weight: 600;
}

.testimonial-video {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.image-column {
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.image-column img  {
  margin-bottom: 2rem; /* Adds space between rows of images */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
  border: 2px solid rgba(0, 0, 0, 0.1); /* Light stroke around the image */
  /*border-radius: 4px; /* Optional: rounded corners for a softer look */ 
}

.apply-btn {
  margin-bottom: 2rem;
}



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5 !important;
  font-family: "SuisseIntl";
}

#packages {
  position: relative;
  top: -75px;
}

.btn {
  white-space: normal !important;
  word-wrap: break-word;
}

.btn-pay-deposit {
  color: #0f0f0f;
  background-color: #ffcc66;
  border-color: #ffcc66;
  font-size: 200%;
  width: 100%;
  max-width: 300px;
}

.btn-pay-deposit:hover {
  color: #0f0f0f;
}

.subtitle {
  color: grey;
}

/*NAVBAR*/
.bg-black {
  background-image: -o-linear-gradient(75deg, #f5f5f5 0%, white 100%);
  background-image: linear-gradient(15deg, #f5f5f5 0%, white 100%);
  color: black;
  -webkit-box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.active {
  padding: 0 5px 5px 5px;
  border-bottom: white 2px solid;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark {
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: black;
}

/*SECTION1*/
.section1 {
  background-image: url("../media/tampa1.jpeg");
  background-color: #f5f5f5;
  background-position: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.section1 .overlay {
  position: absolute;
  height: inherit;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.section1 h1 {
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 60%;
  z-index: 5;
  font-size: 52px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.15rem;
  text-align: center;
}

.section1 h2 {
  width: 45%;
  margin-top: 20px;
  font-size: 1.6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 5;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-align: center;
}

.black {
  background-color: black;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.blackbtn {
  width: 300px;
  background-color: black;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: none;
  -webkit-box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
          box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem;
  cursor: pointer;
}

.blackbtn:hover {
  color: white;
}

.goldenbtn:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.goldenbtn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.goldenbtn:focus {
  outline: none;
}

/*SECTION2*/
.section2-title {
  background-color: black;
  color: white;
  padding: 2rem 5rem;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.section2 p {
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
}



.image-container {
  position: relative;
  overflow: hidden; /* Hide overflow to handle fade effect */
}


.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust height as needed */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(245, 245, 245, 1) 100%);
  pointer-events: none; /* Allow interaction with content beneath the overlay */
}


.image-container.collapsed .image-column {
  max-height: 1000px; /* Adjust to the height you want to initially show */
}

.load-more-btn-2 {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color:black;
  font-weight: bold;
}


.load-more-btn-2:hover,
.load-more-btn-2:focus {
  background-color: rgb(56, 56, 56); /* Keep button background color black */
  border-color: rgb(56, 56, 56); /* Keep button border color black */
  color: white; /* Keep text color white */
  box-shadow: none; /* Remove default focus shadow */
}

.card-container {
  display: flex; /* Center the card horizontally */
  justify-content: center;
  padding: 20px; /* Some space on top and bottom */
  width:100%;
}

.card-container ul li {
  font-size: 1.2rem;
}
.card-container p {
  text-align:start;
}

.card-top-section {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 39px;
}

.card {
  max-width: 1000px; /* Max width of the card */
  width: 100%; /* Full width to ensure responsiveness */
  margin: 20px; /* Margins to avoid touching edges */
  background-color: #fff; /* White background for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
  border-radius: 8px; /* Rounded corners */
  transition: box-shadow 0.3s ease-in-out; /* Smooth shadow transition */
}

.card-header-container {
  background-color: #ffcc66;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 15px;
}

.card-header-container h2 {
  color:black;
}

.card-content {
  padding: 20px;
}

.book-mentorship-btn {
  max-width: none;
}

@media (max-width: 768px) {
  .card-container {
    padding: 0px; /* Reduce padding on smaller screens */
  }

  .card-top-section {
    padding: 0px;
  }

  .card {
    margin: 0px; /* Reduce margins on smaller screens */
  }

  .apply-btn {
    margin: 0px; /* Reduce button margin */
  }
}

/*FOOTER*/
footer {
  background-color: lightgray;
  color: gray;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 250px;
  padding-left: 10vw;
  padding-right: 10vw;
}

footer a {
  color: gray;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
footer a:hover {
  color: gray;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

footer .footer-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-nav {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-helpful {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-icons {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vipList {
  margin-top: 40px;
}
.course-preview {
  margin-top: 60px;
}

.privacy-section-1 {
  padding-top: 100px;
}

.privacy-section-1 p {
  line-height: 30px;;
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 1200px) {
  .section1 h2 {
    width: 60%;
  }
  footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 991.5px) {
  .section1 h1 {
    width: 80%;
  }
  .section1 h2 {
    width: 70%;
  }
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .section1 h1 {
    width: 80%;
    font-size: 2.9rem;
  }
  .section1 h2 {
    width: 75%;
  }
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section6 {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .section1 h1 {
    width: 90%;
    font-size: 2.5rem;
  }
  .section1 h2 {
    width: 90%;
  }
  .section4 .description,
  .section4 .bootcamp {
    width: 100%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0 1rem 5rem;
  }
  footer .footer-icons {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .iconlist > b {
    margin: 0;
  }
}

@media only screen and (max-width: 400px) {
  .section1 h1 {
    width: 90%; /*color:orange;*/
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .section1 {
    background-size: cover;
  }
}