@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.delay-1 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.delay-2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-3 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.delay-4 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-5 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.transition-delay-1 {
  transition-delay: 0.2s;
}
.transition-delay-2 {
  transition-delay: 0.3s;
}
.transition-delay-3 {
  transition-delay: 0.4s;
}
.transition-delay-4 {
  transition-delay: 0.5s;
}
.transition-delay-5 {
  transition-delay: 0.6s;
}
.transition-delay-6 {
  transition-delay: 0.7s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pulsing {
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

.faq-btn {
  cursor: pointer;
  width: 100%;
}

.faq-btn span:nth-child(2) {
  /* Stack Minus and Plus Icons Together */
  margin-left: -50px;
}

.faq-icon {
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
  height: 0;
}
.faq-icon.show {
  opacity: 1;
  height: auto;
}

@media screen and (max-width: 1600px) {
  .faq-btn span:nth-child(2) {
    margin-left: -45px;
  }
  .faq-btn h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1000px) {
  .faq-btn span:nth-child(2) {
    margin-left: -42px;
  }
  .faq-btn h2 {
    font-size: 1.5rem;
  }
}